---
import { Repo } from "@/db/repo";

import { ROUTE } from "src/consts";
import Layout from "src/layouts/Layout.astro";

const repo = new Repo(Astro.locals.runtime.env.DB);

const mangakaList = await repo.getAllMangakas();
---

<Layout title="Mangaka List">
  <h1>Mangaka List</h1>
  <ul>
    {
      mangakaList.map((mangaka) => (
        <li>
          <a href={ROUTE.MANGAKA(mangaka)}>{JSON.stringify(mangaka)}</a>
        </li>
      ))
    }
  </ul>
</Layout>
