---
import { BuildTimeRepo } from "@/db/repo";

import Layout from "src/layouts/Layout.astro";

export const getStaticPaths = () => {
  const repo = new BuildTimeRepo(import.meta.env.PUBLIC_DB_PATH);

  return Promise.all(
    repo.getAllMangas().map(async (manga) => ({
      params: { id: manga.id, name: manga.slug },
      props: { manga: await repo.getFullManga(manga) },
    }))
  );
};

const { id } = Astro.params;
const { manga } = Astro.props;
---

<Layout title={manga.name}>
  <h1>Manga {id} - {manga.name}</h1>
  <p>{JSON.stringify(manga)}</p>
</Layout>
