---
import { Repo } from "@/db/repo";

import Layout from "src/layouts/Layout.astro";

const repo = new Repo(Astro.locals.runtime.env.DB);

const chapterList = await repo.getAllChapters();
---

<Layout title={undefined}>
  <h1>Homepage</h1>
  <ul>
    {chapterList.map((chapter) => <li>{JSON.stringify(chapter)}</li>)}
  </ul>
</Layout>
