---
import { sql } from "drizzle-orm";
import { drizzle } from "drizzle-orm/d1";

import { mangaSchema } from "@/db/schema";

import Layout from "src/layouts/Layout.astro";
import { getNameSlug } from "src/utils";

const db = drizzle(Astro.locals.runtime.env.DB);

const searchResults = (
  await db
    .select()
    .from(mangaSchema)
    .where(
      sql`LOWER(${mangaSchema.name}) like ${"%" + "K".toLowerCase() + "%"}`,
    )
    .all()
).map(getNameSlug);

const ssrVal = Math.random();
---

<Layout title="Search">
  <h1>Search</h1>
  <h2>ssrVal: {ssrVal}</h2>
  <ul>
    {searchResults.map((r) => <li>{JSON.stringify(r)}</li>)}
  </ul>
</Layout>
