---
import { BuildTimeRepo } from "@/db/repo";

import Layout from "src/layouts/Layout.astro";

export const getStaticPaths = () => {
  const repo = new BuildTimeRepo(import.meta.env.PUBLIC_DB_PATH);

  return Promise.all(
    repo.getAllMagazines().map(async (magazine) => ({
      params: { id: magazine.id, name: magazine.slug },
      props: { magazine: await repo.getFullMagazine(magazine) },
    }))
  );
};

const { id } = Astro.params;
const { magazine } = Astro.props;
---

<Layout title={magazine.name}>
  <h1>Magazine {id} - {magazine.name}</h1>
  <p>{JSON.stringify(magazine)}</p>
</Layout>
