---
import { BuildTimeRepo } from "@/db/repo";

import Layout from "src/layouts/Layout.astro";

export const getStaticPaths = () => {
  const repo = new BuildTimeRepo(import.meta.env.PUBLIC_DB_PATH);

  return Promise.all(
    repo.getAllMangakas().map(async (mangaka) => ({
      params: { id: mangaka.id, name: mangaka.slug },
      props: { mangaka: await repo.getFullMangaka(mangaka) },
    }))
  );
};

const { id } = Astro.params;
const { mangaka } = Astro.props;
---

<Layout title={mangaka.name}>
  <h1>Mangaka {id} - {mangaka.name}</h1>
  <p>{JSON.stringify(mangaka)}</p>
</Layout>
