---
import Layout from "src/layouts/Layout.astro";

export const getStaticPaths = () => [
  { params: { id: 1, name: "kentaro-miura" } },
  { params: { id: 2, name: "eichiro-oda" } },
  { params: { id: 3, name: "shimoku-kio" } },
];

const { id, name } = Astro.params;
---

<Layout title={name}>
  <h1>Mangaka {id} - {name}</h1>
</Layout>
